<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <link rel="stylesheet" href="./stylesheets/query_page.css">

    <title>查询</title>
</head>

<body>
    <div class="page">
        <div class="filtrate-content">
            <input type="text" placeholder="设备ID" class="device-id">
            <a href="javascript:;" class="query-btn">查询</a>
        </div>

        <div class="t-list-content">
            <table class="t-list">
               
            </table>
        </div>


        <div class="chart-line">

        </div>

    </div>

    <script src="./javascripts/echarts.min.js"></script>
    <script src="./javascripts/zepto.min.js"></script>

    <script>
        var qbtn = $('.query-btn');
        var input = $('.device-id');
        qbtn.click(function () {
            if (!input.val()) {
                alert('请输入设备ID');
                return;
            }
            queryAction(input.val());
        });


        var queryAction = function (deviceId) {
            $.ajax({
                url: '/queryDevice',
                type: 'post',
                data: {
                    deviceId: deviceId,
                },
                success: function (res) {
                    var data = JSON.parse(res);
                    if(!data) {
                        alert('没有数据');
                        return;
                    }
                    renderList(data);
                    setChart(data);
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        //列表
        var renderList = function(data){
            var list = document.querySelector('.t-list');
            var trs = ` <tr>
                    <th>电流</th>
                    <th>电压</th>
                    <th>功率</th>
                    <th>温度</th>
                </tr>`; 
            for(var i=0;i<data.length;i++){
                var item = data[i];
                trs += ` <tr>
                    <td>${item.electricity}</td>
                    <td>${item.voltage}</td>
                    <td>${item.power}</td>
                    <td>${item.temperature}</td>
                </tr>`;

            }

            list.innerHTML = trs;
        }


        // 折线图
        var setChart = function (data) {
            var electricitys = [];//mA
            var voltages = [];//V
            var powers = [];//W
            var temperatures = [];//°C

            var xData = [];

            for(var i =0;i<data.length;i++){
                var item = data[i];
                electricitys.push(item.electricity);
                voltages.push(item.voltage);
                powers.push(item.power);
                temperatures.push(item.temperature);
                xData.push(i);
            }


          var  option = {
                title: {
                    text: '折线图'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['电流', '电压', '功率', '温度']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data:xData,
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                        name: '电流',
                        type: 'line',
                        data: electricitys,
                    },
                    {
                        name: '电压',
                        type: 'line',
                        data: voltages,
                    },
                    {
                        name: '功率',
                        type: 'line',
                        data: powers,
                    },
                    {
                        name: '温度',
                        type: 'line',
                        data: temperatures,
                    }
                ]
            };


        var chart =  echarts.init(document.querySelector('.chart-line'));
        chart.setOption(option);

        }
    </script>

</body>

</html>